<mat-tab-group mat-stretch-tabs>
    <mat-tab *ngIf="allRecept" label="Všechny recepty">
      <app-kategorie></app-kategorie>
     <!-- <span style="position: relative; top: 50%; left: 50%;"><mat-spinner></mat-spinner></span>-->
      <app-recept-card></app-recept-card>
    </mat-tab>
    

    <mat-tab *ngIf="filtrRecept" label="Recepty podle zadaného filtru">
      <app-kategorie></app-kategorie>
     <!-- <span style="position: relative; top: 50%; left: 50%;"><mat-spinner></mat-spinner></span>-->
      <app-recept-card></app-recept-card></mat-tab>
   <!--  <mat-tab label="Filtrování"></mat-tab>-->
   <mat-tab label="Žebříčky"><app-zebricky></app-zebricky></mat-tab>
   <mat-tab label="Naše hodnocení"><app-doporucene></app-doporucene></mat-tab>
  <!--  <mat-tab label="Vytvořit recept"><app-recept-add></app-recept-add></mat-tab>-->
  </mat-tab-group>
 
  

