
.mat-tab-group {
    margin-bottom: 48px;
  }
 #footer{
   background-color: #4350af;
   color: white;
   position: relative;
   bottom: 0px;
   height: 400px;
   width: 100%;
   text-align: center;

 }
 #kontakty{
  width: 50%;
  float: left;
   padding-top: 20px;
  position: relative;
 }
 #ctenicko{
  width: 50%;
   padding-top: 20px;
   float: left;
   position: relative;
 }
 #problem{
   width: 100%;
  bottom: 0px;
  position: absolute;
 }
 


