<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Všechny recepty"><app-kategorie></app-kategorie><app-recept-card></app-recept-card></mat-tab>
   <!--  <mat-tab label="Filtrování"></mat-tab>-->
   <mat-tab label="Žebříčky">Nwm něco</mat-tab>
    <mat-tab label="Vytvořit recept"><app-recept-add></app-recept-add></mat-tab>
  </mat-tab-group>
 


<div id="footer">
  <div id="kontakty">
    <p class="mat-title text-center">Kontakty</p>
    
    <p class="mat-h4 text-center">+420 420 420 696</p>
   
    <p class="mat-h4 text-center">super.kucharka@seznam.cz</p>
    
  </div>

  <div id="ctenicko">
    <p class="mat-title text-center">O nás</p>
    <p class="mat-h4 text-center">Vznik webu</p>
    <p class="mat-h4 text-center">Náš tým</p>
  </div>

  <div id="problem"><p class="mat-h4 ">©2022 Kuchařky pro tlouštíky s.r.o.</p></div>
</div>