<div class="center">
<mat-card class="card" *ngFor="let item of recepty" [routerLink]="['/recept', item.id]">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title >{{item.nazev}}</mat-card-title>
      <mat-card-subtitle>{{item.autor}}  | Upraveno {{item.date | date:'dd/M/yyyy'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/{{item.main_img}}">
    <mat-card-content>
      <p> {{ (item.note.length>80)? (item.note | slice:0:80)+'...':(item.note) }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="left" ><mat-icon>restaurant</mat-icon> - Číst více</button>
      
      <button mat-button class="right"><mat-icon>expand_less</mat-icon>{{item.hodnoceni}}<mat-icon>expand_more</mat-icon></button>
     <!-- <button mat-icon-button class="right"><mat-icon>thumb_up</mat-icon></button>-->
      
    </mat-card-actions>
  </mat-card>
</div>


<!--<div class="button-container">
  <button mat-fab color="primary" aria-label="Nový recept" routerLink="recepty/novy">
    <mat-icon>add</mat-icon>
  </button>
</div>-->