<p style="padding-left: 40px; padding-top: 40px;"><b>Pravidla pro vytvoření receptu naleznete <a href="">zde</a></b></p>
<form let f="ngForm" [formGroup]="receptAddForm" >
  
    <mat-horizontal-stepper #stepper [linear]="true"><div formGroupName="zakladniUdaje">
  <mat-step [stepControl]="receptAddForm.controls.zakladniUdaje" errorMessage="Nevyplnili jste všechna potřebá pole ">
    
      <ng-template matStepLabel>Základní údaje</ng-template>
      
      <mat-form-field appearance="outline" >
        <mat-label>Název receptu</mat-label>
        <input matInput placeholder="Název receptu" #nazev formControlName="nazev" required maxlength="50">
        <mat-hint  align="end">{{nazev.value.length}} / 50</mat-hint>
      </mat-form-field>
      
      <mat-form-field appearance="outline" >
        <mat-label>Autor</mat-label>
        <input matInput placeholder="Jméno/přezdívka" formControlName="autor" #autor type="text" required maxlength="50">
        <mat-hint  align="end">{{autor.value.length}} / 50</mat-hint>
      </mat-form-field>

        <div>
           <p>Hlavní obrázek</p> 
          <input  class="form-control" type="file" formControlName="obrazek" accept="image/*" (change)="fileEvent($event)" id="main-image"/>
          <button (click)="onSubmitform()">Upload</button> 
        

        </div>
        <br>
        
        <mat-form-field appearance="outline" >
            <mat-label>Úvodní text, poznámky</mat-label>
            <div id="textarea"><textarea matInput #note formControlName="note" cols="50" class="form-control-textarea" required minlength="70" maxlength="700" errorMessage="Nevyplnili jste všechna potřebá pole "></textarea>
              <mat-hint  *ngIf="note.value.length < 70" align="start" style="color: rgba(255, 70, 70, 0.705);"><strong>Zadejte minimálně 70 znaků</strong> </mat-hint>
              <mat-hint  *ngIf="note.value.length >= 70" align="start" style="color: rgba(77, 77, 77, 0.377);"><strong>V žádném případě zde nesdílejte své osobní údaje !</strong> </mat-hint>
              <mat-hint  align="end" style="position: absolute; right: 20px;">{{note.value.length}} / 700</mat-hint>
              
            </div>
          </mat-form-field>  
          <mat-form-field appearance="outline" >
            <mat-label>Potřebné suroviny</mat-label>
            <div id="textarea"><textarea matInput formControlName="suroviny" #suroviny cols="50" class="form-control-textarea" required maxlength="1800" placeholder="Na tento recept budeme potřebovat..."></textarea>
              
              <mat-hint  align="end" style="position: absolute; right: 20px; bottom: 20px;">{{suroviny.value.length}} / 1800</mat-hint>
            </div>
          </mat-form-field>  
          <mat-form-field appearance="outline" >
            <mat-label>Skill</mat-label>
            
            <mat-select formControlName="skill" required>
              <mat-option value="Začátečník">Začátečník</mat-option>
              <mat-option value="Mírně pokročilý">Mírně pokročilý</mat-option>
              <mat-option value="Středně pokročilý">Středně pokročilý</mat-option>
              <mat-option value="Pokročilý">Pokročilý</mat-option>
              <mat-option value="Profi">Profi</mat-option>
            </mat-select>
          </mat-form-field> 
          <mat-form-field appearance="outline" >
 
            <mat-label>Čas přípravy receptu v minutách</mat-label>
        <input matInput type="number" #cas_pripravy placeholder="Celkový čas přípravy" formControlName="cas_pripravy" required min="0" max="999" [matAutocomplete]="autotime">
        <mat-hint  align="end">{{cas_pripravy.value.length}} / 3</mat-hint>
        <mat-autocomplete #autotime="matAutocomplete" [displayWith]="displayFnTime">
          <mat-option *ngFor="let time of filteredOptionsTime | async" [value]="time">
            {{time.name}}
          </mat-option>
        </mat-autocomplete>
          </mat-form-field>   
      
          <!--<mat-form-field appearance="outline" >
            <mat-label>Kategorie</mat-label>
            
            <mat-select formControlName="kategorie" required>
              <mat-option value="Začátečník">Začátečník</mat-option>
              <mat-option value="Mírně pokročilý">Mírně pokročilý</mat-option>
              <mat-option value="Středně pokročilý">Středně pokročilý</mat-option>
              <mat-option value="Pokročilý">Pokročilý</mat-option>
              <mat-option value="Profi">Profi</mat-option>
            </mat-select>
          </mat-form-field> -->
      <div>
          
        
        <button mat-button matStepperNext>Další</button>
      </div>
   
  </mat-step> </div>
<div formArrayName="postup">
  
  <mat-step  errorMessage="Nevyplnili jste všechna potřebá pole " [formGroupName]="i"  *ngFor="let customerGroup of getControlsPostup(); let i = index">
    
    <ng-template matStepLabel>Postup {{i + 1}}</ng-template>
  <!--<ng-template matStepContent>-->
    

        
    <mat-form-field appearance="outline" >
      <mat-label>Název kroku</mat-label>
      <input matInput placeholder="Název kroku" formControlName="nazev" required>
    </mat-form-field>
    
    <mat-form-field appearance="outline" >
      <mat-label>Čas v minutách</mat-label>
      <input matInput placeholder="Čas" formControlName="cas" required type="number" min="0"  [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

      <div>
         <p>Obrázek postupu</p> 
        <input  class="form-control" type="file" formControlName="obrazek" accept="image/*">
      </div>
      <br>
      
      <mat-form-field appearance="outline" >
          <mat-label>Popis kroku</mat-label>
          <div id="textarea"><textarea matInput formControlName="postup" cols="50" class="form-control-textarea" required></textarea></div>
        </mat-form-field>  
      
    
    <div>
      <button mat-button matStepperPrevious>Zpět</button>
      <button mat-button (click)="nextItem(stepper)" >Další</button>
      <button mat-button (click)="addItemPostup(stepper)">
        Přidat krok
      </button>
      <button mat-button (click)="removeItemPostup()">
        Odebrat
      </button>
      </div>
    
<!--</ng-template>-->
</mat-step>
</div>
  <mat-step>
    <ng-template matStepLabel>Náhled</ng-template>
    <br>
    <p class="mat-title center">{{ receptAddForm.value.zakladniUdaje.nazev}}</p>
    <p class="mat-h6 center">{{ receptAddForm.value.zakladniUdaje.autor}} | Upraveno {{curDate | date:'yyyy-MM-dd'}}</p>
    <br>
    <p class="mat-h4 center">Obtížnost : {{ receptAddForm.value.zakladniUdaje.skill}} | Časová náročnost : {{ receptAddForm.value.zakladniUdaje.cas_pripravy}}</p>
    <br>
    <p class="mat-h4 center">{{ receptAddForm.value.zakladniUdaje.note}}</p>
    <br>
    <p class="mat-h4 center">{{ receptAddForm.value.zakladniUdaje.suroviny}}</p>

    <div>
      
      <button mat-button matStepperPrevious class="left">Zpět</button>
      <button mat-button type="submit" [disabled]="!receptAddForm.valid" (click)="addRecept(receptAddForm); receptAddForm.reset()" class="right">Narát recept</button>
      
    </div>
  </mat-step>
</mat-horizontal-stepper>
</form>
<div class="loading" *ngIf=load>
<mat-spinner style="position: absolute; top: 50%; left: 50%;  margin: -25px 0 0 -25px;"></mat-spinner>
<p *ngIf="uploadMessage" style="position: absolute; top: 65%; left: 50%;  margin: -25px 0 0 -25px; color: white;">Úspěšně nahráno</p>

</div>
<!--
<p>Form value: {{ receptAddForm.value | json }}</p>
<p>Form status: {{ receptAddForm.status}}</p>-->