<form [formGroup]="receptAddForm" >
    <mat-horizontal-stepper #stepper [linear]="true"><div formGroupName="zakladniUdaje">
  <mat-step [stepControl]="receptAddForm.controls.zakladniUdaje" errorMessage="Nevyplnili jste všechna potřebá pole ">
    
      <ng-template matStepLabel>Základní údaje</ng-template>
      
      <mat-form-field appearance="outline" >
        <mat-label>Název receptu</mat-label>
        <input matInput placeholder="Název receptu" formControlName="nazev" required>
      </mat-form-field>
      
      <mat-form-field appearance="outline" >
        <mat-label>Autor</mat-label>
        <input matInput placeholder="Jméno/přezdívka" formControlName="autor" type="text" required>
      </mat-form-field>

        <div>
           <p>Ilustrační obrázek</p> 
          <input  class="form-control" type="file" formControlName="autor" accept="image/*">
        </div>
        <br>
        
        <mat-form-field appearance="outline" >
            <mat-label>Úvodní text, ingredience</mat-label>
            <div id="textarea"><textarea matInput formControlName="poznamka" cols="50" class="form-control-textarea" required></textarea></div>
          </mat-form-field>  
        
      
      <div>
          
        
        <button mat-button matStepperNext>Pokračovat</button>
      </div>
   
  </mat-step> </div>
<div formArrayName="postup">
  <mat-step [stepControl]="postup" errorMessage="Nevyplnili jste všechna potřebá pole " [formGroupName]="i"  *ngFor="let customerGroup of getControlsPostup(); let i = index">
    
    <ng-template matStepLabel>Postup {{i + 1}}</ng-template>
  <!--<ng-template matStepContent>-->
    

        
    <mat-form-field appearance="outline" >
      <mat-label>Název receptu</mat-label>
      <input matInput placeholder="Název receptu" formControlName="nazev" required>
    </mat-form-field>
    
    <mat-form-field appearance="outline" >
      <mat-label>Autor</mat-label>
      <input matInput placeholder="Jméno/přezdívka" formControlName="cas" required>
    </mat-form-field>

      <div>
         <p>Ilustrační obrázek</p> 
        <input  class="form-control" type="file" formControlName="obrazek" accept="image/*">
      </div>
      <br>
      
      <mat-form-field appearance="outline" >
          <mat-label>Úvodní text, ingredience</mat-label>
          <div id="textarea"><textarea matInput formControlName="postup" cols="50" class="form-control-textarea" required></textarea></div>
        </mat-form-field>  
      
    
    <div>
      <button mat-button matStepperPrevious>Zpět</button>
      <button mat-button matStepperNext (click)="addItemPostup()">
        Přidat
      </button>
      <button mat-button matStepperNext >Dokončit</button>
    </div>
<!--</ng-template>-->
</mat-step>
</div>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</form>


<p>Form value: {{ receptAddForm.value | json }}</p>
<p>Form status: {{ receptAddForm.status | json }}</p>