.form-control-textarea {
    width: 100%;
} 
textarea {
    width: auto;
    min-height: 100px;
    height: auto;
  }
#textarea {
    width: 100%;
}  
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}
.center {
    display: flex;
    justify-content: center;
  }
  .left {
    float: left;
  }
  .right { 
    float:  right;
  }