<div style="
    padding: 40px;
">
   <h2>Vytvoření receptu je ta nejdůležitější funkce naší kuchařky.</h2> 
   <p>Díky tomu získáte možnost přidat Váš vlastní recept, který koluje ve vaší rodině po generace, a můžete se o něj podělit s celým světem.</p>
   <p>Je nutné se při vytváření receptu držet pravidel, které najdete <a href="">zde</a>.
    </p>
    <p>Jak tedy vytvořit recept?</p>
    <ul>
        <li>1. Zadejte název receptu</li>
        <li>2. Napište autora, nejlépe své křestní jméno</li>
        <li>3. Přidejte ilustrační foto</li>
        <li>4. Přidejte úvodní text, abyste přiblížili lidem, o jaký pokrm se jedná.</li>
        <li>5. Přidejte všechny suroviny, které jsou potřeba k přípravě jídla. Napište každou surovinu pod sebe a nezapoměňte napsat množství!</li>
        <li>6. Zadejte obtížnost receptu. Zvažte všechny kroky a metody, které použijete při vaření.</li>
        <li>7. Dále zadejte celkový čas přípravy, neboli sečtení času ze všech kroků.</li>
        <li>8. Při zmáčknutí dále se přesunete do sekce kroků. Minimálně můžete napsat 1 krok a pokud je potřeba více, můžete zmáčknout ,,přidat další'' a vytvoří se vám další krok. Do něj napiště název kroku (např. Pečení, Obalování, Příprava masa).</li>
        <li>9. Pokud jste vyplnili všechna pole, váš recept je připraven ke zveřejnění.</li>
    </ul>
</div>

