.center{
    text-align: center;
  }

  .imageHodnoceni{
    width: 250px;
    height: 250px;
     border-radius: 50%;
     object-fit: cover;
 }
 .divHodnoceni{
     width: 300px;
     height: 350px;
     text-align:center;
     display: inline-block;
 
     position: relative;
     overflow: hidden;
 }