<mat-toolbar color="primary">
  <img [routerLink]="['']" src="../assets\images\Svoboda.png" style="background-size: cover;  width: 50px; padding: 5px; border-radius: 10px;" class="focus-in-expand">
  <span [routerLink]="['']" class="focus-in-expand">Kuchařka pro tlouštíky</span>
  <span class="searchbar jello-horizontal"><mat-icon>search</mat-icon><input matInput placeholder="Vyhledávání" style="
    width: 95%;
    height: 50%;
    margin: 0 auto;
    transform: translateY(-35%);
"></span>
  <span class="right jello-horizontal"> <mat-icon (click)="scroll(share)">share</mat-icon></span>
  
  <!--<span class="right"><mat-icon (click)="scroll(share)">share</mat-icon></span>
  <input class="inputik" type="text" placeholder="Zadejte hledaný výraz">
  <button id="hledat" type="submit">Hledat</button>-->
</mat-toolbar>



<router-outlet></router-outlet>



<div id="footer">
  

  <div id="help">
    <p class="mat-title text-center" >Nápověda</p>
    <p class="mat-h4 text-center">Jak vytvořit recept</p>
    <p class="mat-h4 text-center" [routerLink]="['/hodnoceni']">Hodnocení</p>
    <p class="mat-h4 text-center" >Interaktivní postup</p>
  </div>

  
  
  <div id="kontakty">
    <p class="mat-title text-center">Kontakty<i class="fab fa-facebook-f" size="2em"></i></p>
    
    <p class="mat-h4 text-center">+420 420 420 696</p>
   
    <p class="mat-h4 text-center">kucharkaprotloustiky@seznam.cz</p>
    
  </div>

  <div id="ctenicko">
    <p class="mat-title text-center" [routerLink]="['/onas']">O nás</p>
    <p class="mat-h4 text-center">Vznik webu</p>
    <p class="mat-h4 text-center">Náš tým</p>
    
  </div>
 
 
  <div id="problem" #share>
    <share-buttons [theme]="'circles-dark'"
    [include]="['facebook','twitter','linkedin','pinterest','reddit','tumblr','mix','viber','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
    [show]="6"
    
  ></share-buttons>
  <br>
  <p class="mat-h4 ">©2022 Kuchařky pro tlouštíky s.r.o.</p></div>
</div>