.example-spacer {
    flex: 1 1 auto;
  }
 .right{
   position: absolute;
   right: 20px;
 } 
 .searchbar{
  position: absolute;
  right: 5%;
} 
 #footer{
  background-color: #4350af;
  color: white;
  position: relative;
  bottom: 0px;
  height: 400px;
  width: 100%;
  text-align: center;
  z-index: 1000;

}
#kontakty{
 float: left;
 padding-top: 20px;
 width: 33.33%;

 position: relative;
}
#ctenicko{
  padding-top: 20px;
  width: 33.33%;
  float: left;
  position: relative;
}
.klik_text{
  cursor: pointer;
}
.vaculda{
  cursor: url("../assets/images/vaculda-extra-velky.png"), pointer;
}
#help{
  width: 33.33%;
  padding-top: 20px;
  float: left;
  position: relative;
}
#problem{
  width: 100%;
  bottom: 0px;
  position: absolute;
}
.inputik {
  text-align: center;
  width: 250px;
  height: 25px;
  right: 220px;
  position: absolute;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.801);
  font-size: medium;
  opacity: 1; /* Firefox */
}
#hledat {
  fill: currentColor;
  right: 154px;
  position: absolute;
  height: 29px;
  width: 65px;
  background-color: gray;
  border: 1px solid gray;
}
.focus-in-expand {
	-webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.jello-horizontal{animation:jello-horizontal .9s both}




@keyframes focus-in-expand{0%{letter-spacing:-.5em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
@keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}



.heartbeat{animation:heartbeat 1.5s ease-in-out infinite both}
@keyframes heartbeat{from{transform:scale(1);transform-origin:center center;animation-timing-function:ease-out}10%{transform:scale(.91);animation-timing-function:ease-in}17%{transform:scale(.98);animation-timing-function:ease-out}33%{transform:scale(.87);animation-timing-function:ease-in}45%{transform:scale(1);animation-timing-function:ease-out}}