<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Super Kuchařka</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" >
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


  
<div id="theList">
  <h2>The list</h2>
  <ul>
    <li *ngFor="let item of recepty">{{item.nazev}} | {{item.cas_pripravy}} </li>
  </ul>
</div>

<router-outlet></router-outlet>