
<br>

<div class="divHodnoceni">
<img class="imageHodnoceni" src="../../../assets/images/halina.jpeg">
<p style="position: relative; ">Halina Pavlovská | ⭐️⭐️⭐️⭐️⭐️</p>
<div style="
background-color: grey;
width: 70%;
height: 2px;
margin-left: 15%;
position: relative;
top: -5px;"></div>
<p>Tuto výborkou kuchařku mohu jedině doporučit, je pro mě jako dělaná</p>
</div>

<div class="divHodnoceni">
    <img class="imageHodnoceni" src="../../../assets/images/zdenda.jpeg">
    <p style="position: relative; ">Zdenda Pohlreich | ⭐️⭐️⭐️⭐️⭐️⭐️</p>
    <div style="
    background-color: grey;
    width: 70%;
    height: 2px;
    margin-left: 15%;
    position: relative;
    top: -5px;"></div>
    <p>Delikátní kuchařka, skvělé recepty</p>
    </div>

    <div class="divHodnoceni">
        <img class="imageHodnoceni" src="../../../assets/images/adelka.png">
        <p style="position: relative; ">Adelka Queen | ⭐️⭐️⭐️⭐️⭐️⭐️</p>
        <div style="
        background-color: grey;
        width: 70%;
        height: 2px;
        margin-left: 15%;
        position: relative;
        top: -5px;"></div>
        <p>Uvařila jsem Markétky hlavu, a né nikdy jí neupadla ty de*ile 👱🏼</p>
        </div>

        <div class="divHodnoceni">
            <img class="imageHodnoceni" src="../../../assets/images/honzik.jpeg">
            <p style="position: relative; ">Jan Brunclík | ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</p>
            <div style="
            background-color: grey;
            width: 70%;
            height: 2px;
            margin-left: 15%;
            position: relative;
            top: -5px;"></div>
            <p>Jsem najebanej jako čolek</p>
            </div>


            <div class="divHodnoceni">
                <img class="imageHodnoceni" src="../../../assets/images/honzikzelenka.jpeg">
                <p style="position: relative; ">Honzík Zelenka | ⭐️⭐️⭐️⭐️⭐️⭐️</p>
                <div style="
                background-color: grey;
                width: 70%;
                height: 2px;
                margin-left: 15%;
                position: relative;
                top: -5px;"></div>
                <p>Pomocí těchto skvělých receptů jsem zjistil, jak mě má můj přítel správně potrestat</p>
                </div>

        

            <div class="divHodnoceni">
                <img class="imageHodnoceni" src="../../../assets/images/adamek.jpg">
                <p style="position: relative; ">Adámek Kajumi | ⭐️⭐️⭐️⭐️⭐️⭐️⭐️</p>
                <div style="
                background-color: grey;
                width: 70%;
                height: 2px;
                margin-left: 15%;
                position: relative;
                top: -5px;"></div>
                <p>Super receptíky, natočil jsem vám promo na TikToku</p>
                </div>

                <div class="divHodnoceni">
                    <img class="imageHodnoceni" src="../../../assets/images/deniska.jpeg">
                    <p style="position: relative; ">Cukr Deniska | ⭐️⭐️⭐️⭐️⭐️</p>
                    <div style="
                    background-color: grey;
                    width: 70%;
                    height: 2px;
                    margin-left: 15%;
                    position: relative;
                    top: -5px;"></div>
                    <p>Taková mňamka, ale kousek mi ukápnul na obličej 💦</p>
                    </div>
                    <div class="divHodnoceni">
                        <img class="imageHodnoceni" src="../../../assets/images/maruska.jpeg">
                        <p style="position: relative; ">Lusilka | ⭐️⭐️⭐️⭐️⭐️</p>
                        <div style="
                        background-color: grey;
                        width: 70%;
                        height: 2px;
                        margin-left: 15%;
                        position: relative;
                        top: -5px;"></div>
                        <p>Pro tyto dobroty bych i střílela 🔫, doporučuji pro všechny lulusáky</p>
                        </div>

                       

                          <div class="divHodnoceni">
                            <img class="imageHodnoceni" src="../../../assets/images/zuzanka.png">
                            <p style="position: relative; ">Zuzanka | ⭐️⭐️⭐️⭐️⭐️⭐️</p>
                            <div style="
                            background-color: grey;
                            width: 70%;
                            height: 2px;
                            margin-left: 15%;
                            position: relative;
                            top: -5px;"></div>
                            <p>Kuchařka funguje, koukněte na mé krásné bříško 🤠</p>
                            </div>

                            <div class="divHodnoceni">
                            <img class="imageHodnoceni" src="../../../assets/images/sprata.jpg">
                            <p style="position: relative; ">Spráťa | ⭐️⭐️⭐️⭐️⭐️⭐️</p>
                            <div style="
                            background-color: grey;
                            width: 70%;
                            height: 2px;
                            margin-left: 15%;
                            position: relative;
                            top: -5px;"></div>
                            <p>Velká velká kdejekekasa, připravíme vychlazenou kokokoku :-P</p>
                            </div>

                            <div class="divHodnoceni">
                              <img class="imageHodnoceni" src="../../../assets/images/vojta_neymar.jpg">
                              <p style="position: relative; ">Vojta Neymar 4D | ⭐️⭐️⭐️⭐️⭐️⭐️</p>
                              <div style="
                              background-color: grey;
                              width: 70%;
                              height: 2px;
                              margin-left: 15%;
                              position: relative;
                              top: -5px;"></div>
                              <p>Čaute tiktokéři, taky taky doporučuji, mluvím i za Neymara ;-)</p>
                            </div>

                            <div class="divHodnoceni">
                                <img class="imageHodnoceni" src="../../../assets/images/fujfuj.jpeg">
                                <p style="position: relative; ">Královna Tadeáš | ⭐️⭐️⭐️⭐️⭐️⭐️</p>
                                <div style="
                                background-color: grey;
                                width: 70%;
                                height: 2px;
                                margin-left: 15%;
                                position: relative;
                                top: -5px;"></div>
                                <p>Pomocí těhto receptů jsem si bez problémů změnil pohlaví již 4x</p>
                                </div>
                            
<br>
<p class="tracking-in-contract-bck-bottom mat-headline center">Hodnocení od našich uživatelů</p>

                             <div class="tech-slideshow">
                            <div class="mover"></div>
                            
                          </div>
                          <div class="tech-slideshow-2">
                            <div class="mover"></div>
                            
                          </div>