<!--
<br>
<div class="divHodnoceni">
<img class="imageHodnoceni" src="../../../assets/images/sprata.jpg">
<p style="position: relative; ">Spráťa | ⭐️⭐️⭐️⭐️⭐️⭐️</p>
<div style="
background-color: grey;
width: 70%;
height: 2px;
margin-left: 15%;
position: relative;
top: -5px;"></div>
<p>Velká velká kdejekekasa, připravíme vychlazenou kokokoku :-P</p>
</div>
<div class="divHodnoceni">
  <img class="imageHodnoceni" src="../../../assets/images/vojta_neymar.jpg">
  <p style="position: relative; ">Vojta Neymar 4D | ⭐️⭐️⭐️⭐️⭐️⭐️⭐️</p>
  <div style="
  background-color: grey;
  width: 70%;
  height: 2px;
  margin-left: 15%;
  position: relative;
  top: -5px;"></div>
  <p>Čaute tiktokéři, taky taky doporučuji, mluvím i za Neymara ;-)</p>
</div>
<div class="divHodnoceni">
    <img class="imageHodnoceni" src="../../../assets/images/gott.jpeg">
    <p style="position: relative; ">Karel Gott | ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</p>
    <div style="
    background-color: grey;
    width: 70%;
    height: 2px;
    margin-left: 15%;
    position: relative;
    top: -5px;"></div>
    <p>-Stále čekáme na odpověď-</p>
    </div>
    <div class="divHodnoceni">
      <img class="imageHodnoceni" src="../../../assets/images/koleso.jpg">
      <p style="position: relative; ">Koleso | ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</p>
      <div style="
      background-color: grey;
      width: 70%;
      height: 2px;
      margin-left: 15%;
      position: relative;
      top: -5px;"></div>
      <p>Ty nevíš kdo já sem ty ku*do</p>
      </div>
      <div class="divHodnoceni">
        <img class="imageHodnoceni" src="../../../assets/images/hruška.jpg">
        <p style="position: relative; ">Láďa Hruška | ⭐️⭐️⭐️⭐️⭐️⭐️⭐️</p>
        <div style="
        background-color: grey;
        width: 70%;
        height: 2px;
        margin-left: 15%;
        position: relative;
        top: -5px;"></div>
        <p>Lahoda, a recept na smažák bez smažení mě vyšel na 25Kč</p>
        </div>
      -->                       
<br>
<p class="tracking-in-contract-bck-bottom mat-headline center">Hodnocení od našich uživatelů</p>

                             <div class="tech-slideshow">
                            <div class="mover"></div>
                            
                          </div>
                          <div class="tech-slideshow-2">
                            <div class="mover"></div>
                                              
                          </div>
                        <!--  <p class="tracking-in-contract-bck-bottom mat-headline center">Našich uživatelů si velice vážíme</p>-->
                          <div class="tech-slideshow-3">
                            <div class="mover"></div>
                            
                          </div>