.imageHodnoceni{
   width: 250px;
   height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.divHodnoceni{
    width: 300px;
    height: 350px;
    text-align:center;
    display: inline-block;

    position: relative;
    overflow: hidden;
}

.containerRecenze {
    width: 1200px;
    animation: slideshow 10s linear infinite;
  }

  @keyframes slideshow {
    0%    { left: 100%; }
    100%  { left: -200%; }
  }

  .tech-slideshow {
    height: 300px;
    max-width: 3000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .tech-slideshow > div {
    height: 200px;
    width: 6016px;
    background: url(../../../assets/images/hodnoceni1.png);
    background-size: (1350px);
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }

  .tech-slideshow-2 {
    height: 300px;
    max-width: 3000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  .tech-slideshow-2 > div {
    height: 200px;
    width: 6016px;
    background: url(../../../assets/images/hodnoceni2.png);
    background-size: (1350px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }

  .tech-slideshow-3 {
    height: 300px;
    max-width: 3000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  .tech-slideshow-3 > div {
    height: 200px;
    width: 6016px;
    background: url(../../../assets/images/hodnoceni3.png);
    background-size: (1350px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }

  .tech-slideshow .mover {
    animation: moveSlideshow 500s linear infinite;
  }
  .tech-slideshow-2 .mover {
    animation: moveSlideshowDruha 500s linear infinite;
  }
  .tech-slideshow-3 .mover {
    animation: moveSlideshow 500s linear infinite;
  }
  
  .tracking-in-contract-bck-bottom {
	-webkyion: tracking-in-contract-bck-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.center{
    text-align: center;
}


  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.666%);  
    }
  }
  @keyframes moveSlideshowDruha {
    100% { 
      transform: translateX(66.666%);  
    }
  }
  @-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(300px);
              transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(300px);
              transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  

  .slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
  }
  .slide-in-right-2 {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-1-14 22:10:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-1-14 22:11:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
