<div class="background">     
  <div class="hero">
   
<div class="content hero__title"><br>
  <div (click)="lastPage()" style="    
  padding: 10px;
    position: absolute;
    
    width: 70px;
    height: 70px;">
  <mat-icon  style="    
  position: relative;
    left: 25px;
    top: 25px;">arrow_back_ios
    </mat-icon>
  </div>
  <p class="tracking-in-contract-bck-bottom mat-headline center">Tým Kuchařky pro tlouštíky</p>
  
  <div style="
      
      text-align: center;
  ">
  
  <div class="divHodnoceni puff-in-center-1">
    <img class="imageHodnoceni" src="../../../assets/images/bebr.jpeg">
    <p style="position: relative; ">Bruno Bébr | Frontend & Backend</p>
    <div style="
    background-color: grey;
    width: 70%;
    height: 2px;
    margin-left: 15%;
    position: relative;
    top: -5px;"></div>
   
      <p style="margin: 0 auto;">Instagram : <b>@b_bebr</b></p>
      <p style="margin: 0 auto;">Twitter :<b> @BebrBruno</b> </p>
      <p style="margin: 0 auto;">GitHub : <b>BrunoBebr</b></p>
    
    </div>
  
    <div class="divHodnoceni puff-in-center-2">
      <img class="imageHodnoceni" src="../../../assets/images/zizka.jpeg">
      <p style="position: relative; ">Denis Žižka | Frontend & Socials</p>
      <div style="
      background-color: grey;
      width: 70%;
      height: 2px;
      margin-left: 15%;
      position: relative;
      top: -5px;"></div>
      <p style="margin: 0 auto;">Instagram : <b>@deniszizka_</b></p>
     <p style="margin: 0 auto;">Twitter : <b>@deniszizka_</b></p>
      <p style="margin: 0 auto;">GitHub : <b>deniszizka</b></p>
      </div>
  
      <div class="divHodnoceni puff-in-center-3">
        <img class="imageHodnoceni" src="../../../assets/images/doutny.jpg">
        <p style="position: relative; ">Martin Doutnáč | Frontend</p>
        <div  style="
        background-color: grey;
        width: 70%;
        height: 2px;
        margin-left: 15%;
        position: relative;
        top: -5px;"></div>
        
       <p style="margin: 0 auto;">Instagram : <b>doutny7</b>@</p>
      <!-- <p style="margin: 0 auto;">Twitter : <b>@</b></p>-->
       <p style="margin: 0 auto;">GitHub : <b>doutnma</b></p>
        </div>
        
  </div> 
   <div class="slide-in-bck-center" style="
        background-color: grey;
        width: 70%;
        height: 2px;
        margin-left: 15%;
        position: relative;
        top: -5px;"></div>
     <br><br><br>
      <p class="text-focus-in mat-title" style="text-align: center;">Všem nám vlastně jde o jediné. Aby se Vám tato kuchařka líbila a popřípadě vás inspirovala k novým kulinářským receptům.</p>


      <br><br>
      
         <div style="text-align: center;" class="roll-in-blurred-left"><img (click)="pou()" src="../../../assets/images/seafood.jpeg" alt="tlustoch" width="200px" ></div> 
         <br><br><br>
         
  </div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
</div>
</div> 



    
