.example-card {
    max-width: 400px;
    display: inline-block;
    
  }
  
  .example-header-image {
    background-image: url('https://i.pinimg.com/originals/e8/91/4e/e8914ecfbad4ae0144f168663d89a3cd.jpg');
    background-size: cover;
  }

  body {
         /* center a max-width container */
    font-size: 0;           /* remove spaces between blocks */
}
mat-card {
  display: flex;
  align-items: center;
  margin: 10px;
 
  
}
.center{
  text-align: center;
}
mat-card-content {
  text-align: left;
}
mat-card-title {
  text-align: left;
}