.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://i.pinimg.com/originals/e8/91/4e/e8914ecfbad4ae0144f168663d89a3cd.jpg');
    background-size: cover;
  }