#id {
    background-color: red;
}
.center{
    text-align: center;
  }
.nazev{
    font-size:3vw;
    margin: 0 auto;
    height: 4vw;
    width: 200%;
    transform: translate(-25%);
}  
.autor{
    color: #545454;
    font-size: 1vw;
    margin: 0 auto;
    
    color: #545454;
    font-size: 1vw;
    margin: 0 auto;
    position: relative;
    bottom: 1vw;
    height: 1vw;
}
.centerDiv{
    width: 100%;
    height: 30%;
    position: relative;
    
    background-color: red;
}
.image{
    width: 95%;
    height: 95%;
    border-radius: 20px;
     
    /* margin: 10px; */
    object-fit: contain;
    position: absolute;
    top: 2.5%;
    left: 2.5%;

}

.poznamka{
    width: 100%;
    height: 100%;
    
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 2vw;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1.5px;
    white-space: pre-wrap;

   // border-bottom: 3px solid #0000003a;
}
.poznamka p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1vw;
    width: 90%;
    white-space: pre-wrap;

    margin: 0 auto;
}
/*mat-grid-tile{
    border: 3px solid #000000b6;
  
}*/
.info{
    width: 100%;
    
    
    position: relative;
    text-align: center;
vertical-align: middle;
    display: inline-block;
    line-height: 40px;
    justify-content: center;
    margin: 0;
    
    color :black;
}
.info mat-icon{
    font-size: 2.5vw;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    color: #000000b6;
}
.infotext{
    width: 100%;
    white-space: pre-wrap;

    text-align: center;
vertical-align: middle;
    display: inline-block;
    line-height: 40px;
    justify-content: center;
    margin: 0;
    
    color :black;
}
.infotext span {
    font-size: 1vw;
    
}
span mat-icon{
    font-size: 2vw;
    height: 2vw;
    width: 2vw;
    vertical-align: middle;   
}
.hodn mat-icon{
    font-size: 2vw;
    height: 2vw;
    width: 2vw;
    vertical-align: middle;   
}
.hodn{
    display: flex;
    align-items: center;
    text-align: center;
}
.loading {
    position:fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;
  }  

