#id {
    background-color: red;
}
.center{
    text-align: center;
  }
.nazev{
    font-size: 30px;
}  
.autor{
    color: #545454;
}
.centerDiv{
    width: 100%;
    height: 30%;
    position: relative;
    
    background-color: red;
}
.image{
    width: 95%;
    height: 100%;
    border-radius: 5px;
    /* border: 3px solid #000000b6; */
    /* margin: 10px; */
    object-fit: cover;
    position: absolute;
    top: 2.5%;
    left: 2.5%;

}
.poznamka{
    width: 100%;
    height: 100%;
    top: 40px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    justify-content: center;
    margin: 0 auto;
}
.poznamka p {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}
mat-grid-tile{
    border: 3px solid #000000b6;
  
}
.info{
    width: 100%;
    
    
    position: relative;
    text-align: center;
vertical-align: middle;
    display: inline-block;
    line-height: 40px;
    justify-content: center;
    margin: 0;
    
    color :black;
}
.info mat-icon{
    font-size: 2.5vw;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    color: #000000b6;
}
.infotext{
    width: 70%;
    
    text-align: center;
vertical-align: middle;
    display: inline-block;
    line-height: 40px;
    justify-content: center;
    margin: 0;
    
    color :black;
}
.infotext span {
    font-size: 1vw;
    
}
span mat-icon{
    font-size: 2vw;
    height: 2vw;
    width: 2vw;
    vertical-align: middle;   
}
.hodn mat-icon{
    font-size: 2vw;
    height: 2vw;
    width: 2vw;
    vertical-align: middle;   
}
.hodn{
    display: flex;
    align-items: center;
    text-align: center;
}